*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url('/Blanchadell/imagenes/barco/404.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.cajaPrincipal{
    margin-top:10%;
}
.titulo{
   font-size: 900%;
   text-shadow: gray 6px 6px;
}

#Barco{
    width: 100px;
    
    animation-name:barcoAnimacion;
    animation-duration:30s;
    animation-delay:1s;
    position: relative;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}
@keyframes barcoAnimacion{
0%{
    left:0px;
    top:0%;
}

30%{
    left:30%;
    top:0%;
}

60%{
    left:60%;
    top:0%;
}



100%{
    left:100%;
    top:0%;
}

}